.services-container {
  background-color: rgba(255, 255, 255, 0.733);

  border-radius: 0px 0px 20px 20px;
  padding: 2.5%;
}

.tax-prep {
  width: 150px;
  height: 150px;
}

.bookkeeping {
  width: 150px;
  height: 150px;
}
.business-planning {
  width: 150px;
  height: 150px;
}

