.page-container {
  background-color: rgba(255, 255, 255, 0.733);
  text-align: center;
  border-radius: 0px 0px 20px 20px;
}

.page-title {
  text-align: center;
  padding-top: 2%;
  font-weight: bold;
  font-size: 30px;

}

.page-content {
  padding: 1%;
  font-size: 20px;
}
