*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}

.page-container {
  text-align: center;

}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
