* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.page-container {
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.199);
  text-align: center;
}

.page-title {
  padding-top: 4%;
  font-weight: bold;
}

.page-content {
  padding: 3.5%;

}


